<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="NofIntervalForNotRemembered"  value="5"/>
    <add key="Interval" value="30"/>
    <add key="InitialInterval" value="1"/>
    <add key="MainDirectory" value="c:\mnemonic"/>
    <add key="CollectionsFile" value="collections.xml"/>
    <!--oh yes, i am calling this the db file-->
    <add key="DBFile" value="DB.xml"/>
    <add key="CollectStats" value="True"/>
    <add key="StatsFile" value="Stats.xml"/>
  </appSettings>
</configuration>