<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <EnsureTable Id='ComboBox'/>

    <UI Id="GUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Property="_BrowseProperty" Value="[MNEMONICPATH]" Order="1">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="mNemonicConfigDlg" Order="2">1</Publish>
      <Publish Dialog="mNemonicConfigDlg" Control="Browse" Property="_BrowseProperty" Value="[MNEMONICPATH]" Order="1"> </Publish>
      <Publish Dialog="mNemonicConfigDlg" Control="Browse" Event="SpawnDialog" Value="BrowseDlg" Order="2"> </Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="mNemonicConfigDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />

      <Dialog Id="mNemonicConfigDlg" Width="370" Height="270" Title="mNemonic Installer - mNemeCollections">
        <Control Type="Text" Id="lblInstructions" Width="348" Height="13" X="10" Y="10">
          <Text>Please select the directory where you are going to store your collections</Text>
        </Control>
        <Control Type="Text" Id="lblmNemeCollectionsDirectory" Width="129" Height="9" X="10" Y="40" Text="mNeme Collections directory:">
        </Control>
        <Control Type="PathEdit" Id="Folder" Width="119" Height="15" X="182" Y="38" Property="_BrowseProperty" Indirect="yes" />
        <Control Type="PushButton" Id="Browse" Width="56" Height="17" X="304" Y="37" Text="Browse.." />
        <Control Type="Line" Id="line" Width="362" Height="2" X="4" Y="229" />
        <Control Id="Cancel" Type="PushButton" X="14" Y="240" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Type="PushButton" Id="Install" Width="56" Height="17" X="300" Y="240" Text="Install">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>
    </UI>
    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>