<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="DEAF1AAA-BEEF-BEAD-BEAD-D1D2D3D4D5D6" Name="mNemonic" Language="1033" Version="0.0.0.18" Manufacturer="ManyRootsOfAllEvil Inc." UpgradeCode="0dbe4cf3-abb9-46b2-9cf7-75f4a2f85d4e">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <Icon Id="mNemonic.exe" SourceFile="Images\memento.ico"/>
    <Icon Id="mNemonicManager.exe" SourceFile="Images\manager.ico"/>
    
    <!--This is the add/remove product icon-->
    <Property Id="ARPPRODUCTICON" Value="mNemonic.exe" />
    <Property Id ="MNEMONICPATH" Value="MNEMONIC" />
    <Property Id="MNEMONIC" Value="C:\mNemonic\"/>
    
       <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="mNemonic" />
      </Directory>
      <Directory Id="ProgramMenuFolder"  Name="PMenu" >
        <Directory Id="ProgramMenuDir" Name="mNemonic"/>
      </Directory>
      <Directory Id="StartupFolder" Name="StartUp" />
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="mNemonicAppFolder" Name="mNemonic">
          <Component Id="mNemonicAppFolderComponent" Guid="DEAFBEEF-DEAD-C0DE-BEEF-C0DEBEEFC0DE">
            <RegistryKey Root="HKCU" Id="AgainstICE1" Key="mNemonic" Action="createAndRemoveOnUninstall">
              <RegistryValue Id="AgainstICE2" KeyPath="yes" Type="string" Value="mNemonic"/>
            </RegistryKey>
            <CreateFolder/>
            <RemoveFolder Id="ICE3864" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="MNEMONIC"></Directory>     
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="mNemonic"/>
      <ComponentGroupRef Id="ImportExportTool"/>
      <ComponentRef Id="mNemonicAppFolderComponent"/>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="mNemonic" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <UIRef Id="GUI"/>
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
  </Product>
</Wix>